@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #fff;
}

.cardContainer {
    width: 480px;
    background-color: #2962FF;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profileCard{
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 20px;    
    padding: 12px;
}

.cardDetails p {
    color: #848d8d;
    font-size: 3.5rem;
    font-weight: 300;
}
.cardDetails h2{
    font-size: 3.9rem;
    font-weight: 900;
    font-family: "Nunito Sans", serif;
}
.profileCard Details{
    border-color: chartreuse;
}
.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 3.1rem;
}

